<mat-card class="section-card">
  <mat-card-title>Multiple Transition</mat-card-title>
  <mat-card-subtitle>
    Transitions are matched in the order in which they are defined.
    So, other transitions on top will replace the bottom one.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="toggle()">Toggle Open/Close</button>
    </nav>

    <div [@openClose]="isOpen ? 'open' : 'closed'" class="effect-container">
      <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Entering and Leaving</mat-card-title>
  <mat-card-subtitle>
    :enter and :leave are aliases for the void => * and * => void transitions.
    These aliases are used by several animation functions.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="insertRemoveToggle()">Toggle Insert/Remove</button>
    </nav>

    <div @myInsertRemoveTrigger *ngIf="isShown" class="effect-container">
      <p>The box is inserted</p>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Number Value</mat-card-title>
  <mat-card-subtitle>
    The transition() function takes additional selector values, :increment and :decrement.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="increaseDecreaseToggle('I')">Increase Number</button>
      <button (click)="increaseDecreaseToggle('D')">Decrease Number</button>
    </nav>

    <div [@filterAnimation]="exampleNumber" class="effect-container">
      <p>The number is changed to {{exampleNumber}}</p>
      <div *ngFor="let n of testData">{{n.name}}</div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Boolean Value</mat-card-title>
  <mat-card-subtitle>
    If a trigger contains a boolean value as a binding value, then this value can be
    matched using a transition() expression that compares true and false, or 1 and 0.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="toggleTrueFalse()">Toggle True/False</button>
    </nav>

    <div [@trueFalse]="isTrue ? true : false" class="effect-container">
      <p>The value is now {{ isTrue ? 'True' : 'False' }}!</p>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Parent Child</mat-card-title>
  <mat-card-subtitle>
    The parent animation always gets priority and child animations are blocked.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="toggleDisable()">Toggle Disable</button>
      <button (click)="toggleIsRunning()">Toggle Running</button>
    </nav>

    <div [@.disabled]="isDisabled">
      <div [@runningAnimation]="isRunning ? true : false" class="effect-container">
        <p *ngIf="isDisabled">Disabled!</p>
        <p>The value is now {{ isRunning ? 'True' : 'False' }}!</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Animation Callback</mat-card-title>
  <mat-card-subtitle>
    The animation trigger() function emits callbacks when it starts and when it finishes.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="toggleCallback()">Toggle Callback</button>
    </nav>

    <div [@callBack]="isCallback ? true : false" class="effect-container"
         (@callBack.start)="onAnimationEvent($event)"
         (@callBack.done)="onAnimationEvent($event)">
      <p>The value is now {{ isCallback ? 'True' : 'False' }}!</p>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Keyframes</mat-card-title>
  <mat-card-subtitle>
    The keyframe() function is similar to keyframes in CSS.
    Keyframes allow several style changes within a single timing segment.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="toggleKeyframes()">Toggle Keyframes</button>
    </nav>

    <div [@keyframes]="isKeyframes ? 'start' : 'end'" class="effect-container">
      <p>The value is now {{ isKeyframes ? 'True' : 'False' }}!</p>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Offset</mat-card-title>
  <mat-card-subtitle>
    offsets are relative measures from 0 to 1, marking the beginning and end of the animation,
    respectively and should be applied to each of the keyframe's steps if used at least once.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="toggleOffset()">Toggle Offset</button>
    </nav>

    <div [@offset]="isOffset ? 'active' : 'inactive'" class="effect-container">
      <p>The value is now {{ isOffset ? 'True' : 'False' }}!</p>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Pulsation</mat-card-title>
  <mat-card-subtitle>
    Use keyframes to create a pulse effect in your animations by defining styles at specific offset throughout the animation.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="togglePulsation()">Toggle Pulsation</button>
    </nav>

    <div [@pulsation]="isPulsation ? 'open' : 'close'" class="effect-container">
      <p>The value is now {{ isPulsation ? 'True' : 'False' }}!</p>
    </div>
  </mat-card-content>
</mat-card>
