<mat-card class="section-card">
  <mat-card-title>Multiple Transition</mat-card-title>
  <mat-card-subtitle>
    Transitions are matched in the order in which they are defined.
    So, other transitions on top will replace the bottom one.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="toggle()">Toggle Open/Close</button>
    </nav>

    <div [@openClose]="isOpen ? 'open' : 'closed'" class="effect-container">
      <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Entering and Leaving</mat-card-title>
  <mat-card-subtitle>
    :enter and :leave are aliases for the void => * and * => void transitions.
    These aliases are used by several animation functions.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="insertRemoveToggle()">Toggle Insert/Remove</button>
    </nav>

    <div @myInsertRemoveTrigger *ngIf="isShown" class="effect-container">
      <p>The box is inserted</p>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Number Value</mat-card-title>
  <mat-card-subtitle>
    The transition() function takes additional selector values, :increment and :decrement.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="increaseDecreaseToggle('I')">Increase Number</button>
      <button (click)="increaseDecreaseToggle('D')">Decrease Number</button>
    </nav>

    <div [@filterAnimation]="exampleNumber" class="effect-container">
      <p>The number is changed to {{exampleNumber}}</p>
      <div *ngFor="let n of testData">{{n.name}}</div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="section-card">
  <mat-card-title>Boolean Value</mat-card-title>
  <mat-card-subtitle>
    If a trigger contains a boolean value as a binding value, then this value can be
    matched using a transition() expression that compares true and false, or 1 and 0.
  </mat-card-subtitle>
  <mat-card-content>
    <nav>
      <button (click)="toggleTrueFalse()">Toggle True/False</button>
    </nav>

    <div [@trueFalse]="isTrue ? true : false" class="effect-container">
      <p>The value is now {{ isTrue ? 'True' : 'False' }}!</p>
    </div>
  </mat-card-content>
</mat-card>
