@import "../../../../assets/colors.scss";

nav {
  padding: 15px;
  background-color: $primary-color;

  a {
    text-decoration-line: none;
  }
}

.nav-side-toggle {
  color: #FFFFFF;
  margin: 0 20px 0 0;
}:hover {
  cursor: pointer;
}

.nav-logo-container {
  display: inline-flex;
  align-items: center;

  .nav-logo {
    height: 26px;
    margin: 0 5px 0 0;
  }

  .nav-logo-text {
    color: #FFFFFF;
    font-weight: 500;
  }
}


